*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
    filter: brightness(1);
    background-size: cover;
    background-position: center;

}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex; 
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 35px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}*/


.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #282a92;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #282a92;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

/*about*/
#about{
    position: sticky;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0px;
    background-color: #2c2c309c;
    color: #d0d0d5;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(imgz.jpg);

    width: 100%;
    height: 100%;


}

#about2{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0px;
    background-color: #2c2c309c;
    color: #d0d0d5;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(imgz2.jpg);

}

#about3{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 0px;
    background-color: #2c2c309c;
    color: #d0d0d5;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(black.jpg);
    height: 300px;
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 380px;
    
}

#pic2{
    display: flex;
    position: relative;
    left: 370px;


}

#pic2 img{
    width: 450px;
    height: 350px;

    
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: 1.25rem;


}

#intro h2{
    margin-bottom: 20px;
    
}
#intro2{
   /* display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    position: fixed;
    left: 8px;
    right: 479px;*/

    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    position: fixed;
    right: 590px;


    position: fixed;
    top: 970px;
    font-size: 1rem;
    left: 010px;

    
}

#intro2 h2{
    margin-bottom: 20px;
    
}

#chapters{
    position: relative;
    top: 0px;
    font-size: 1.7rem;
    left: -120px;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

}


#chapters h2{
    font-size: 2rem;
    margin-bottom: 20px;

}

#chapters2{
    position: relative;
    top: -174px;
    font-size: 1.7rem;
    left: 120px;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

}


#chapters2 h2{
    font-size: 2.1rem;
    margin-bottom: 20px;

}


.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 0px 10px 10px 0px;

}


.headings2{
    position: relative;
    top: 10px;
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 0px 10px 10px 0px;

}